aiofiles
aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altair
amqp
annotated-types
anthropic
anyio
appnope; sys_platform == "darwin"
appscript; sys_platform == "darwin"

APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
astroid
asttokens
async-lru
async-timeout
attrs
autobahn
Automat
autopep8
azure-common
azure-core
azure-identity
azure-keyvault-secrets
azure-storage-blob
babel
backcall
beautifulsoup4
billiard
bitarray
black
bleach
blinker
blis
boto3
botocore
build
CacheControl
cachetools
camelot-py
catalogue
celery
celery-progress
certifi
cffi
channels
channels-redis
chardet
charset-normalizer
cleo
click
click-didyoumean
click-plugins
click-repl
cloudpathlib
colorama
comm
confection
constantly
contourpy
crashtest
cryptography
cycler
cymem
daphne
dashscope
dataclasses
dataclasses-json
datefinder
debugpy
decorator
defusedxml
Deprecated
deprecation
diff-match-patch
dill
distlib
distro
dj-database-url
Django
django-celery-progress
django-celery-results
django-cors-headers
django-debug-toolbar
django-dotenv
django-environ
django-extensions
django-import-export
django-mathfilters
django-multi-captcha-admin
django-ranged-response
django-simple-captcha
django-storages
django_csp
djangorestframework
drf-spectacular
docopt
duckduckgo_search
dulwich
e2b
e2b-code-interpreter
elevenlabs
entrypoints
et-xmlfile
eval_type_backport
exceptiongroup
executing
ez_setup
fastapi
fastjsonschema
ffmpy
filelock
fonttools
fqdn
frozenlist
fsspec
gcloud
gevent
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
gradio
gradio_client
greenlet
grpcio
grpcio-status
gunicorn
h11
httpcore
httplib2
httptools
httpx
huggingface-hub
hyperlink
idna
importlib-resources
importlib_metadata
incremental
iniconfig
installer
ipykernel
ipython
ipython_pygments_lexers
ipywidgets
isodate
isoduration
isort
jaraco.classes
jedi
jieba
Jinja2
jiter
jmespath
joblib
json5
jsonlines
jsonpath-python
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
jwcrypto
keyring
kiwisolver
kombu
langcodes
language_data
litellm
lxml
marisa-trie
markdown-it-py
markdownify
MarkupPy
MarkupSafe
marshmallow
marshmallow-enum
matplotlib
matplotlib-inline
mccabe
mdurl
mistralai
mistune
modelscope_studio
more-itertools
mpmath
msal
msal-extensions
msgpack
multidict
multiprocess
murmurhash
mypy-extensions
mysqlclient
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numpy
oauth2client
odfpy
openai
opencv-python-headless
openpyxl
orjson
outcome
overrides
packaging
pandas
pandocfilters
parso
pathlib
pathlib_abc
pathspec
pathy
pdfminer.six
pdfplumber
pdfreader
pdfrw
Pebble
pexpect
pickleshare
pikepdf
pillow
pip-tools
pkginfo
platformdirs
plotly
pluggy
poetry-core
poetry-plugin-export
portalocker
preshed
primp
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
ptyprocess
pur
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycodestyle
pycparser
pycryptodome
pydantic
pydantic_core
pydeck
pydub
Pygments
PyJWT
pylint
Pympler
PyMuPDF
pyOpenSSL
pyparsing
pypdf
PyPDF2
PyPDF4
pypdfium2
pyproject_hooks
Pyrebase4
pyrsistent
PySocks
pytest
python-dateutil
python-docx
python-dotenv
python-json-logger
python-jwt
python-multipart
python-pptx
pytz
pytz-deprecation-shim
PyYAML
pyzmq
rank-bm25
rapidfuzz
redis
referencing
regex
reportlab
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruff
s3transfer
safehttpx
safetensors
scikit-learn
scipy
seaborn
selenium
semantic-version
semver
Send2Trash
sentence-transformers
sentencepiece
service-identity
shellingham
six
smart-open
smmap
smolagents
sniffio
snowballstemmer
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlparse
srsly
stack-data
starlette
streamlit
sympy
tablib
tabula-py
tabulate
tenacity
terminado
thinc
threadpoolctl
tiktoken
timeout-decorator
tinycss2
tokenizers
toml
tomli
tomlkit
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
trio
trio-websocket
trove-classifiers
twilio
Twisted
txaio
typer
types-python-dateutil
typing
typing-inspect
typing-inspection
typing_extensions
tzdata
tzlocal
uri-template
uritemplate
uvicorn
validators
vine
virtualenv
Wand
wasabi
watchdog
watchfiles
wcwidth
weasel
webcolors
webencodings
websocket-client
websockets
Werkzeug
whitenoise
widgetsnbextension
wrapt
wsproto
xattr
xlrd
XlsxWriter
xlwings
xlwt
yarg
yarl
zipp
zope.event
zope.interface
drf_spectacular